CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER_ROOT=
CLOUDINARY_FOLDER_ENV=

MAX_FILE_SIZE=
MAX_REQUEST_SIZE=
MAX_SWALLOW_SIZE=

JWT_SIGNER_KEY=

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash-lite
GEMINI_ENABLED=true
GEMINI_DELETE_FILE_AFTER_USE=true
